html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -2vw;
}
.img img {
  height: 25vw;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

*{
  background-color: #B44D89;
  color: rgb(255, 254, 168);
  font-family: Arial, Georgia;
}

h1{
  font-weight: 700;
  font-family: Serif, Helvetica, "Lucida Console", "Brush Script MT", Georgia, "Times New Roman";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #490040;
  font-weight: 501;
}

p {
  text-indent: 1.5vw;
}

h4 {
  text-align: center;
}