html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  font-family: Arial, Georgia;
  background-color: rgb(255, 254, 203);
}

.img {
 display: flex;
 justify-content: center; 
}

.img img {
  width: 50vw;
}

a {
  display: block;
  margin: 1.5vw;
  margin-left: 0;
}

h1 {
  color: black;
  font-weight: 550;
  font-family: Serif, Helvetica, "Lucida Console", "Brush Script MT", Georgia, "Times New Roman";
  text-align: center;
}

.blue {
  color: #5A72A5;
}

.purple {
  color: #9A288C;
}