html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  font-family: Arial, Georgia; 
}

body {
  background-color: rgb(255, 254, 203);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.header h1 {
  color: black;
  font-weight: 550;
  font-family: Serif, Helvetica, "Lucida Console", "Brush Script MT", Georgia, "Times New Roman";
}

.content {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  min-width: 100px;
}

.blue {
  color: #5A72A5;
}

.purple {
  color: #9A288C;
}

a {
 color: inherit;
 margin-bottom: 15px;
}

.in-depth {
  display: flex;
  flex-direction: column;
}

.simple {
  display: flex;
  flex-direction: column;
}


.img {
  display: flex;
  order: 1;
  align-items: flex-start;
  margin-right: 50px;
}

.img img {
    object-fit: contain;
    object-position: top left;
    width: 100%;
    height: 100%;
    max-height: 300px;
    min-width: 300px;
}