html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #5A72A5;
  color: rgb(255, 254, 168);
  font-family: Arial, Georgia;
}

.header {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  font-family: Serif, Helvetica, "Lucida Console", "Brush Script MT", Georgia, "Times New Roman";
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ingredients {
  width: 350px;
  min-width: 200px;
  /* Either set the left margin to a vw width, or enable flex wrap
  on the container */
  margin: 0 10px;
  flex: 0 1 auto;
  word-wrap: wrap;
}

li {
  margin-bottom: 5px;
}

.img {
  display: flex;
  order: 1;
  flex: 0 1 auto;
  align-items: flex-start;
  margin: 0 10px;
  
}

/* Code below makes the photo keep original dimensions, but be able to
grow or shrink to specified sizes. It will spill over if the screen is
too small. */ 
.img img {
  object-fit: scale-down;
  object-position: top left;
  width: 100%;
  height: 100%;
  max-height: 350px;
  /* if min-height is used with max-height, min will be ignored. */
  min-width: 350px;
}

p {
  text-indent: 1.5vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1E095C;
  font-weight: 550;
}