html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  height: 25vw;
  width: auto;
  display: flex;
}

.img img {
  margin-left: auto;
  margin-right: auto;
}

*{
  background-color: #5A72A5;
  color: rgb(255, 254, 168);
  font-family: Arial, Georgia;
}

p {
  text-indent: 1.5vw;
}

h1 {
  font-weight: 550;
  font-family: Serif, Helvetica, "Lucida Console", "Brush Script MT", Georgia, "Times New Roman";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1E095C;
  font-weight: 550;
}